{% extends "base.html" %}

{#{% block script %}#}
{#<script type="text/javascript">#}
{#    setInterval(function() {#}
{#        $.getJSON($SCRIPT_ROOT + '/get_news',#}
{#        function(data) {#}
{#            $("#news").html(data.news)#}
{#        });#}
{#        return false;#}
{#    }, 4000);#}
{#</script>#}
{#{% endblock %}#}

{% block content %}
    <div class="container-fluid shadow-sm rounded" style="background-color: #F0F0F0;">
        <div class="row">
            <div class="col-9">
                <h1>Мои идиомы</h1>
            </div>

            {% if current_user.is_teacher %}
                <div class="col-3" style="margin: auto auto;">
                    <a href="/add_idiom" class="btn btn-primary">Добавить идиому</a>
                </div>
            {% endif %}

        </div>
    </div>

    <br>

    <div class="container-fluid" id="tests">
        {% for idiom in idioms|reverse %}
            <div class="container-fluid shadow-sm rounded"
                 style="background-color: #F0F0F0; padding-bottom: 10px; padding-top: 10px;">
                <div class="row">
                    <div class="col-12">
                        <h5>{{ idiom.text }}</h5>
                    </div>
                </div>

                {% if current_user.is_teacher %}
                    <div class="row">
                        <div class="col-5">
                            <a href="/delete_idiom/{{ idiom.id }}" class="btn btn-danger">
                                Удалить
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}
